<!DOCTYPE html>
<html>
<head>
    <title>Visualizations</title>
</head>
<body>
    <h1>Visualizations</h1>
    <h2>Clustering Plot</h2>
    <h3>Cluster Analysis</h3>
    <img src="{{ visualizations.Cluster_Plot_with_PCA }}" alt="PCA Cluster Plot">
    
    <h3>Cluster Size Comparison</h3>
    <img src="{{ visualizations.Comparison_Plot }}" alt="Comparison Plot">
    
    <h3>Incident Frequency Heatmap</h3>
    <img src="{{ visualizations.Heatmap }}" alt="Heatmap">
    
    <br><br>
    <a href="/">Home</a>

</body>
</html>


